body {
    background-color: #fafafa;
    color: #757575;
    font-family: 'Consolas', Arial, Helvetica, sans-serif;
    margin: 30px;
}

.container{
	background: #fff;
    width: 60%;
    margin: 70px auto;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	
}
h1{
text-transform: uppercase;
color: #E9E9E9;
}

* {
	box-sizing: border-box;
}
ul {
	margin: 0;
	padding: 0;
	
	
}
ul li {
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	background: #eee;
	font-size: 18px;
	transition: 0.2s;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

}
ul li:nth-child {
	background: #f9f9f9;
	
}
ul li:hover{
	background: #ddd;
}
ul li.checked {
	background: #888;
	color: #fff;
	text-decoration: line-through;
}
ul li.checked:before {
	content: '';
	position: absolute;
	border-color: #fff;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 10px;
	left: 16px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
}
.close{
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px 16px 12px 16px;
}
.close:hover{
    background-color: #7CBFDE;
   
	color: white; 
}
.header{
	background-color: #B34EE9;
    background-image: -moz-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
    background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
    background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
	padding: 30px 40px;
	color: white;
	text-align: center;

}
.header:after{
	content: "";
	display: table;
	clear: both;
}
input{
	border: none;
	width: 75%;
	padding: 10px;
	float: left;
	font-size: 16px;
}
.addBtn{
	padding: 10px;
	width: 25%;
	background: #d9d9d9;
	color: #555;
	float: left;
	text-align: center;
	font-size: 16px;
	cursor: pointer; 
	transition: 0.3s;
}
.addBtn{
	background-color: #bbb;
}